<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Golang CRUD</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="card shadow">
        <div class="card-header">Data Pasien</div>
        <div class="card-body">
          <a href="/pasien/add" class="btn btn-primary">Tambah data</a>
          <table class="table table-bordered table-hover mt-3">
            <thead>
              <tr>
                <th>Nama Lengkap</th>
                <th>NIK</th>
                <th>Jenis Kelamin</th>
                <th>Tempat Lahir</th>
                <th>Tanggal Lahir</th>
                <th>Alamat</th>
                <th>No. HP</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              {{ range .pasien }}
              <tr>
                <td>{{ .NamaLengkap }}</td>
                <td>{{ .NIK }}</td>
                <td>{{ .JenisKelamin }}</td>
                <td>{{ .TempatLahir }}</td>
                <td>{{ .TanggalLahir }}</td>
                <td>{{ .Alamat }}</td>
                <td>{{ .NoHp }}</td>
                <td>
                  <a
                    href="/pasien/edit?id={{ .Id }}"
                    class="btn btn-sm btn-warning"
                    >Edit</a
                  >
                  <a
                    href="/pasien/delete?id={{ .Id }}"
                    class="btn btn-sm btn-danger"
                    onclick="return confirm('Apakah anda yakin akan menghapus data?')"
                    >Hapus</a
                  >
                </td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
